---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">inicio</a>
		<a href="/about/">Sobre Astro</a>
		<a href="/blog/">Blog de astro</a>
		<h1>Hola Mundo</h1>
		<p>Sitio creado para la Guia de creacion de blog con astro</p>
	</body>
</html>
