---
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Infomacion que se carga en el eslot de index :3</h2>
</BaseLayout>
