---
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Infomacion que se carga en el eslot de index</h2>
  <figure>
    <img src="https://cdn.pixabay.com/photo/2020/08/05/11/30/silhouette-5465124_1280.jpg" 
    alt="hombre con una raqueta en una noche despejada mientras pasa un cometa" 
    width="350" 
    height="450">
  </figure>
</BaseLayout>
